@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@400;700&display=swap");

:root,
html,
body {
	--text-color: #000000;
	--bg-color: #ffffff;

	--main-font: "Fira Code";
	--main-font: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
		"Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
	--main-font-size: 20px;
	--main-font-weight: 400;
	--max-text-width: 720px;
	--border-thickness: 0.8px;

	--font-size-small: 0.7rem;


	color: var(--text-color) !important;
	background-color: var(--bg-color);
	font-family: var(--main-font) !important;
	font-weight: var(--main-font-weight) !important;
	font-size: var(--main-font-size) !important;
}

.md-grid {
	max-width: initial;
}


article p,
article ul,
article ol {
	max-width: var(--max-text-width);
	font-size: 1rem;
	line-height: 1.4;
}

article li {
	margin-bottom: 0 !important;
}

.JBM-ligature {
	font-family: "Fira Code" !important;
}

h2,
h3,
h4,
blockquote,
.footnote {
	color: var(--text-color) !important;
	max-width: var(--max-text-width);
}

.footnote {
	border-top: solid var(--border-thickness);
}

.footnote ol li,
.footnote ol li p {
	font-size: var(--font-size-small) !important;
}

.md-ellipsis,
h1,
h2,
h3,
h4 {
	font-weight: bold !important;
	margin-bottom: 0 !important;
	font-size: var(--font-size-small);
}

h1 {
	color: var(--text-color) !important;
	max-width: var(--max-text-width);
	font-weight: 400 !important;
}

a {
	color: inherit !important;
}

p a,
table a,
.md-content li a {
	text-decoration: underline;
}

p a:hover,
table a:hover,
.md-content li a:hover {
	background-color: var(--text-color) !important;
	color: var(--bg-color) !important;
}

table {
	border: 0 !important;
}

th {
	display: none;
}

td {
	padding: 0.3rem !important;
}

td:first-child,
th:first-child {
	padding-left: 0 !important;
	width: 20%;
	font-weight: bold;
}

tr:first-child td {
	border: 0 !important;
}

.md-header {
	background-color: var(--bg-color);
	color: var(--text-color) !important;
}

/*
.md-header[data-md-state=shadow]{
	border-bottom: 1px solid;
	box-shadow: none;
}
*/

.md-header,
.md-header[data-md-state="shadow"] {
	border-bottom: var(--border-thickness) solid;
	box-shadow: none;
}

.md-header__button.md-logo {
	display: none;
}

.md-tabs {
	color: var(--text-color) !important;
	background-color: var(--bg-color);
}

.md-tabs__item {
	line-height: 0.8rem !important;
}

.md-tabs__link {
	opacity: 1;
	font-size: var(--font-size-small);
}

.md-tabs__link.md-tabs__link--active {
	margin-bottom: -14px !important;
	line-height: 0.8rem;
	overflow: hidden;
}

.md-tabs__link.md-tabs__link--active:after {
	display: block;
	text-align: center;
	content: "•";
	font-size: calc(var(--font-size-small) * 2);
	line-height: 0.4;
	position: relative;
	bottom: 0.1rem;
}

.md-nav {
	font-size: var(--font-size-small);
}

.md-nav__button.md-logo {
	display: none !important;
}

.md-nav--primary .md-nav__title {
	background-color: var(--bg-color);
}

.md-nav__item {
	background-color: var(--bg-color);
}

.md-header__title {
	margin-left: 0.5rem;
}

.md-search__form {
	box-shadow: none !important;
}

.md-search__output {
	border-radius: 0;
}

@media screen and (min-width: 60em) {
	.md-search {
	    padding: 0;
	    height: 2.4rem;
	}
	.md-search__inner {
	    padding: 0;
	}
	.md-search__form {
	    height: 2.4rem;
	    border-left: var(--border-thickness) solid;
	    border-radius: 0;
	}
	.md-search__input {
	    height: 2.4rem;
	    box-shadow: none !important;
	}

	.md-search__icon[for="__search"] {
	    left: 0.5rem;
	    top: 0.6rem;
	}
	.md-search-result__title {
	    font-size: var(--font-size-small) !important;
	}
	.md-search-result__meta {
	    height: 2.9rem !important;
	    padding-top: 0.8rem !important;
	    background-color: var(--bg-color);
	    font-size: var(--font-size-small);
	}
	.md-search__output {
	    box-shadow: none !important;
	    border: var(--border-thickness) solid var(--text-color);
	}
	.md-search__overlay {
	    opacity: 0 !important;
	}
}

@media screen and (min-width: 76.25em) {
	.md-header__topic,
	.md-tabs {
	    padding-left: 1rem !important;
	}
	.md-sidebar {
	    padding-top: 0;
	    width: 16rem;
	}
	.md-sidebar__inner {
	    padding-top: 0.5rem !important;
	    padding-bottom: 0.5rem !important;
	}
	.md-sidebar__scrollwrap {
	    padding-bottom: 1rem;
	    border-right: var(--border-thickness) solid;
	}
	.md-footer {
	    z-index: 5;
	}
	.md-nav.md-nav--primary.md-nav--lifted.md-nav--integrated {
	    margin-left: 1rem;
	}
}

@media screen and (max-width: 76.1875em) {
	.md-nav--primary .md-nav__title {
	    border-bottom: var(--border-thickness) solid var(--text-color);
	    height: 2rem;

	    padding-top: 0rem !important;
	    margin-top: 0;
	    padding-bottom: 2.4rem !important;
	    padding-left: 2rem !important;
	}

	.md-nav--primary .md-nav__item {
	    border-top: var(--border-thickness) solid var(--text-color);
	    padding: 0;
	    padding-left: 1rem;
	}
}

.md-search__input {
	font-family: var(--main-font);
	font-size: var(--font-size-small);
	border-radius: 0;
	background-color: var(--bg-color) !important;
}

.md-search__input:hover {
	background-color: var(--bg-color) !important;
}

.md-search-result__list {
	background-color: var(--bg-color) !important;
}

.md-icon svg {
	fill: var(--text-color);
}

.md-search__input,
.md-search-result__meta,
.md-search-result__teaser,
::placeholder {
	color: var(--text-color) !important;
}

#mkdocs-content-password {
	background-color: var(--bg-color) !important;
	border-color: var(--text-color) !important;
}

[data-md-color-primary="white"] .md-search__input {
	background-color: var(--bg-color);
}

[data-md-color-primary="white"] .md-tabs {
	border-bottom: var(--border-thickness) solid;
}

.md-main__inner.md-grid {
	margin-top: 0;
}

.md-footer {
	background-color: var(--bg-color);
	color: var(--text-color);
	border-top: var(--border-thickness) solid;
}

.md-footer__link:hover {
	color: inherit;
	opacity: inherit;
}

.md-footer__direction {
	opacity: 1;
	font-weight: normal;
	font-size: var(--font-size-small);
}

.md-footer-meta.md-typeset {
	background-color: var(--bg-color);
	border-top: var(--border-thickness) solid;
}

.md-footer-copyright,
.md-footer-copyright__highlight,
.md-footer-social,
.md-footer-social__link {
	color: var(--text-color) !important;
	font-size: var(--font-size-small);
}

.md-typeset table:not([class]) {
	box-shadow: none;
	font-size: var(--font-size-small);
}

.md-typeset table:not([class]) td {
	border-top: var(--border-thickness) solid var(--text-color);
}

.md-typeset__table {
	min-width: calc(100% - 0.5rem);
}

.md-typeset table:not([class]) {
	display: table;
}

tr,
tr:hover {
	background-color: var(--bg-color) !important;
}

th {
	background-color: var(--bg-color) !important;
	color: var(--text-color) !important;
	font-weight: bold;
	border-bottom: var(--border-thickness) solid var(--text-color);
}

.md-nav__title {
	margin-top: 1rem;
	color: var(--text-color) !important;
	font-weight: bold !important;
}

.md-nav__link {
	color: var(--text-color) !important;
	font-size: var(--font-size-small);
}

.md-nav__link.md-nav__link--active {
	margin-left: -0.93rem !important;
}

.md-nav__link.md-nav__link--active:before {
	content: "• ";
	font-size: calc(var(--font-size-small) * 2);
	line-height: 0.3;
	position: relative;
	top: 0.15rem;
	left: -0.15rem;
}

.md-nav__link.md-nav__link--active,
.md-nav__link:hover {
	opacity: 1;
}

#mkdocs-content-password {
	border: var(--border-thickness) solid;
	border-radius: 0 !important;
	padding: 0.5rem;
}

#mkdocs-content-password {
	width: 360px !important;
	max-width: 100% !important;
}

.md-search-result__icon.md-icon {
	display: none;
}

hr{
	border-bottom: var(--border-thickness) solid var(--text-color)!important;
	margin: 0.5rem 0.5rem 0.5rem 0!important;
}

.md-source-date {
	text-align: right;
	color: var(--text-color) !important;
	font-size: var(--font-size-small)!important;
	opacity: 1!important;
	padding-right: .5rem;
}

.md-typeset small{
	opacity: 1!important;
	font-size: 100%!important;
}

/* was used before %% obsidian comments %%

#hide,
#hide ~ * {
	display: none;
}

*/


/* SVG stuff */
svg{
	display: block;
}

svg circle, svg path{
    fill:var(--text-color)!important;
}

svg circle{
    r:calc( var(--border-thickness) / 2.0 )
}

svg text{
    fill:var(--text-color);
	font-size:var(--font-size-small)!important;
	font-family: var(--main-font) !important;
	font-weight: var(--main-font-weight) !important;
	/*
	dominant-baseline: middle !important;
	text-anchor: middle !important;
	*/
}

svg polyline, svg line{
    stroke:var(--text-color)!important;
    stroke-width:calc( var(--border-thickness) / 2.0 )!important;
	fill: none!important;
}
